.contact > .title {
  font-weight: lighter;
  color: #172a26;
  text-align: center;
  margin-right: 0;
  margin-bottom: 2rem;
}
.contact {
  background-color: #f1f1f1;
  padding: 2rem 2rem;
}

.name, .number {
  font-size: 1.4rem;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .name {
    font-size: 1.8rem;
  }
}
