.about {
  background-color: hsl(0, 0%, 95%);
  color: #172a26;
  height: 100vh;
}

@media screen and (min-width: 700px) {
  .about--content:nth-of-type(even) .about-photo {
    order: 2;
  }
}

.about-photo {
  box-shadow: 10px 10px 4px #646464;
}
