.contact-form {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

.contact-input {
  width: 100%;
  border: solid #172a26 3px;
  height: 2rem;
}

label.contact-label {
  font-size: 2rem;
  background-color: #f1f1f1;
  color: #172a26;
}
.contact-input.contact-message {
  height: 8rem;
}
