.carousel {
  overflow: hidden;
}

.carousel-btn {
  background: none;
  border: none;
  color: #f1f1f1;
  cursor: pointer;
  outline: none;
  font-size: 2rem;
}

.carousel-btn:hover,
.carousel-btn:focus {
  color: #172a26;
}

.indicators {
  position: relative;
  height: 2rem;
}

@media screen and (min-width: 600px) {
  .carousel-btn {
    font-size: 3rem;
  }
  .carousel-btn.prev {
    left: 5%;
  }
  .carousel-btn.next {
    right: 5%;
  }
}

@media screen and (min-width: 1400px) {
  .carousel-btn {
    font-size: 5rem;
  }
  .carousel-btn.prev {
    left: 10%;
  }
  .carousel-btn.next {
    right: 10%;
  }
}

.inner {
  white-space: nowrap;
  transition: transform 0.3s;
}

.carousel-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
}

.carousel-indicator {
  color: #f1f1f1;
}
