.primary-btn {
  text-align: center;
  background-color: #172a26;
  border-radius: 15px;
  border: #f1f1f1 5px solid;
  color: #f1f1f1;
  font-size: 15px;
  font-family: 'Bebas Neue', monospace;
  padding: 0.5rem;
  width: 4rem;
}

.primary-btn:hover {
  cursor: pointer;
  background-color: #152522;
}

@media screen and (min-width: 350px) {
  .primary-btn {
    border-radius: 30px;
    font-size: 20px;
    padding: 1rem;
    margin-top: 1rem;
    width: 6rem;
  }
}

@media screen and (min-width: 750px) {
  .primary-btn {
    border-radius: 30px;
    font-size: 24px;
  }
}
