:root {
  --primary-font: 'Bebas Neue';
}

body {
  font-family: var(--primary-font), monospace;
}
.container {
  margin: 0 5rem;
}

/* Titles and Sub-titles */

.title,
.sub-title {
  text-align: center;
}

.title {
  padding: 2rem;
  font-size: 3rem;
  margin-top: 0;
}

.sub-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 410px) {
  .title {
    font-size: 4rem;
  }
  .sub-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .title {
    font-size: 6rem;
  }
  .sub-title {
    font-size: 3rem;
  }
}

/* Grid */
.grid {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-bottom: 4rem;
}

.grid-1x2 {
  grid-template-rows: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 700px) {
  .grid-1x2 {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
