:root {
  --primary-font: 'Bebas Neue';
}

body {
  font-family: var(--primary-font), monospace;
}
.container {
    margin: 0 5rem;
}

/* Titles and Sub-titles */

.title,
.sub-title {
  text-align: center;
}

.title {
  font-size: 3rem;
}

.sub-title {
  font-size: 1.5rem;
}
@media screen and (min-width: 410px) {
  .title {
    font-size: 4rem;
  }
  .sub-title {
    font-size: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .title {
    font-size: 6rem;
  }
  .sub-title {
    font-size: 3rem;
  }
}

/* Grid */
.grid {
  display: grid;
  justify-items: center;
  align-items: center;
}

.grid-1x3 {
  grid-template-rows: repeat(3, 10rem);
}
